@page "/graphdata"
@using ForecastsWebApp.Data
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.Util
@inject WeatherForecastService ForecastService

<PageTitle>Weather graph data</PageTitle>

<h1>Weather graph data</h1>

<p>This component demonstrates fetching data from a weather collection service to plots.</p>

@if (_temperature == null)
{
    <p>
    <em>Loading...</em>
</p>
}
else
{
    <p>
    <select class="form-control" style="width:150px" @onchange=SelectedCityChanged>
        @foreach (var template in templates)
            {
                <option value=@template>@template</option>
            }
        </select>
    </p>
    <div>
        <table class="form-control" style="width:100%">
            <tr style="height:50%">
                <td style="width:25%">
                    <Chart Config="_temperature"></Chart>
                </td>
                <td style="width:25%">
                    <Chart Config="_pressure"></Chart>
                </td>
            </tr>
            <tr style="height:50%">
                <td style="width:25%">
                    <Chart Config="_humidity"></Chart>
                </td>
                <td style="width:25%">
                    <Chart Config="_speed"></Chart>
                </td>
            </tr>
        </table>
    </div>
}

@code {
    private readonly LineConfig _temperature = new();
    private readonly LineConfig _pressure = new();
    private readonly LineConfig _humidity = new();
    private readonly LineConfig _speed = new();

    private string selectedCity = string.Empty;
    private string[] templates = { "Select city" };

    private string Caption => isMoving ? "Start Spinning" : "Stop Spinning";
    private bool isMoving = true;

    private void Toggle()
    {
        isMoving = !isMoving;
    }

    private async void SelectedCityChanged(ChangeEventArgs e)
    {
        selectedCity = e.Value?.ToString() ?? templates[0];

        _temperature.Data.Labels.Clear();
        _temperature.Data.Datasets.Clear();
        _pressure.Data.Labels.Clear();
        _pressure.Data.Datasets.Clear();
        _humidity.Data.Labels.Clear();
        _humidity.Data.Datasets.Clear();
        _speed.Data.Labels.Clear();
        _speed.Data.Datasets.Clear();

        var forecastsArr = await ForecastService.GetForecastAsync(selectedCity);
        var labels = forecastsArr.Select(v => v.Date);
        foreach (var label in labels)
        {
            _temperature.Data.Labels.Add(label.ToString());
            _pressure.Data.Labels.Add(label.ToString());
            _humidity.Data.Labels.Add(label.ToString());
            _speed.Data.Labels.Add(label.ToString());
        }

        var temperature = forecastsArr.Select(v => v.Main.Temperature);
        var datasetT = new LineDataset<double>(temperature)
            {
                BackgroundColor = ColorUtil.ColorHexString(255, 99, 132),
                Label = "Temperature (C)"
            };
        var pressure = forecastsArr.Select(v => v.Main.Pressure);
        var datasetP = new LineDataset<double>(pressure)
            {
                BackgroundColor = ColorUtil.ColorHexString(75, 192, 192),
                Label = "Pressure (hPa)"
            };
        var humidity = forecastsArr.Select(v => v.Main.Humidity);
        var datasetH = new LineDataset<double>(humidity)
            {
                BackgroundColor = ColorUtil.ColorHexString(54, 162, 235),
                Label = "Humidity (%)"
            };
        var speed = forecastsArr.Select(v => v.Wind.Speed);
        var datasetS = new LineDataset<double>(speed)
            {
                BackgroundColor = ColorUtil.ColorHexString(255, 205, 86),
                Label = "Wind (m/s)"
            };

        _temperature.Data.Datasets.Add(datasetT);
        _pressure.Data.Datasets.Add(datasetP);
        _humidity.Data.Datasets.Add(datasetH);
        _speed.Data.Datasets.Add(datasetS);
    }

    protected override async Task OnInitializedAsync()
    {
        templates = templates.Union(await ForecastService.GetCitiesNamesAsync()).ToArray();
    }

}