@page "/weather"
@using ForecastsCommon;
@using ForecastsRabbitMQProcessor;
@using Config.Net;
<PageTitle>Current weather</PageTitle>

<h1>Current weather</h1>

<p>This component demonstrates fetching current weather data from RabbitMQ.</p>

<p role="status">@_currentWeather</p>

@code {
    private string _currentWeather = string.Empty;

    protected override void OnInitialized() 
    {   
        var settings = new ConfigurationBuilder<ISettings>()
           .UseIniFile(Path.Combine(AppDomain.CurrentDomain.BaseDirectory,"forecaster.ini"))
        .Build();
        
        var weatherExtractor = new WeatherExtractor();
        var rabbitMQDispatcher = new RabbitMQDispatcher(settings.rabbitmq_connection);
        rabbitMQDispatcher.Received += (_, message) => 
        { 
            var weather = weatherExtractor.ExtractMandatoryDataObject(message);
            _currentWeather = $"Weather in {weather.City} is: temperature {weather.Main.Temperature}C, pressure {weather.Main.Pressure}hPa, wind {weather.Wind.Speed}meter/sec, humidity {weather.Main.Humidity}%";
             InvokeAsync(() =>
                {
                    StateHasChanged();
                });
        };

        rabbitMQDispatcher.ConsumeMessage();
    }
}
